body {
  margin: 0px;
  background-image: url("https://t3.ftcdn.net/jpg/05/67/19/74/360_F_567197402_beyG2EozP3O5SofRr1BPjYNwSuP3Ojn3.jpg");
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: 50%;
  background-position-y: 0%;
}