body {
  margin: 0px;
  background-image: url("https://wallpapers.com/images/hd/free-pics-photo-new-york-yankees-wallpaper-u0niayd8re23camp.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}